
on:
  push:
    branches: dev

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -t ghcr.io/${{ github.repository_owner }}/kellykemnitz.com:dev .

      - name: Push Docker image
        run: |
          docker push ghcr.io/${{ github.repository_owner }}/kellykemnitz.com:dev

      - name: Verify Docker image
        run: |
          docker pull ghcr.io/${{ github.repository_owner }}/kellykemnitz.com:dev
          docker images ghcr.io/${{ github.repository_owner }}/kellykemnitz.com:dev
          docker run --rm ghcr.io/${{ github.repository_owner }}/kellykemnitz.com:dev echo "Docker image is working correctly."
